
    <div class="container">
      <div class="row">
          <h1 class="lead text-center">Ships lights - Level 1</h1>
      </div>
      <div class="row">
          <div class="col-xs-4">
              Qu. 1 of 15
          </div>
          <div class="col-xs-4">
              <strong></strong>
          </div>
          <div class="col-xs-4">
              Score: 100%
          </div>
      </div>
      <div class="row">
          <div class="col-xs-6">
              <div class="questionMainImage">
                  
              </div>
          </div>
          <div class="col-xs-6">
              <div class="row-fluid">
                  <ul id="optionsList" style="list-style:none;">
                      <li></li>
                  </ul>
              </div>
              <div class="row-fluid text-center">
                  <button class="btn btn-default next option">|&lt;</button>
                  <button class="btn btn-default next option">&lt;</button>
                  <button class="btn btn-default next option">&gt;</button>
                  <button class="btn btn-default next option">&gt;|</button>
                  &nbsp;
                  <button class="btn btn-info option">Submit</button>
              </div>
          </div>
      </div>
    </div>
  